<!--  ! + ctrl で展開できる！ -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- 切り出したメタタグをincludeする -->
  <%- include("./_share/metadata.ejs") %> 
  <title>Document</title>
</head>
<body>
  <h1>Hello World!!?</h1>
</body>
</html>